# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# Logs
*.log

/gradle/
/CREDITS.txt
/LICENSE.txt
/README.txt
/build.gradle
/changelog.txt
/gradle.properties
/gradlew
/gradlew.bat
/hs_err_pid24648.log
/replay_pid24648.log
/run2/
